.products {
    border: 1px solid #333;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 16px;
    margin-bottom: 20px;
    height: 325px;
    
}

.container {
    max-width: 1000px;
    margin-top: 20px;
}

.products img {
    display: block;
    max-width:180px;
    max-height:150px;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    
  }

body {
    background-color: #eee;
}

.table {
    margin: 0px auto;
    float: none;
}
.row{
    margin: 0px auto;
}
.centered{
    float:none;
    margin: 0 auto;
}

.button {
    background: #e07800;
    color:white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    display:block;
    border-radius: 3px;
    font-size: 16px;
    margin: 25px 0 15px 0;
}
.button:visited{
    text-decoration: none;
    color:white;
}
.button:hover{
    background: #eb7d00;
    text-decoration: none;
    color: white;
}
.button:active {
    text-decoration: none;
    color:white;
}
.btn-danger {
    font-size: 12px;
    padding: 3px;
}
.btn-danger:hover{
    text-decoration: none;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
h3 {
    margin-top: 0px;
}
